/*NOSOTROS*/

.titulo{
    color: white;
    background-color: rgba(0, 0, 0, 0.44);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.principal_nos{
    background-image: url("../img/fondo_main.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        ". nosotros";

    img{
        width: 60%;
        margin: 50px 50px 50px 100px;
        border-radius: 10px;
    }

    .paquete{
        grid-area: nosotros;
        background-color: rgba(165, 42, 42, 0.355);
        color: white;
        padding: 100px 60px;

        .espacio{
            border-bottom: 2px solid white;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }
}

